
* {
    margin: 0;
    padding: 0;
}
.moviescntr {
    
    color: lightgray;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.moviecard {
    width:180px;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: 10px;
    margin: 40px;
    background: rgb(156, 0, 73);
    padding: 10px 0px;
}

.moviecard h2 {
    
    background: rgb(156, 0, 73);
}

.moviecard h2 {
    
    background: rgb(156, 0, 73);
}

.moviecard p {
    
    background: rgb(156, 0, 73);
}

.moviecard span {
    
    background: rgb(156, 0, 73);
}
.movieimg {
    width:150px;
    height: 200px;
}
